name: Deploy React App to GitHub Pages

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - uses: actions/checkout@v4

      # Set up Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: "npm"

      # Install dependencies
      - run: npm ci

      # Build the React app
      - run: npm run build

      # Upload the build folder as the artifact for GitHub Pages
      - uses: actions/upload-pages-artifact@v3
        with:
          path: build

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-deploy
    steps:
      - uses: actions/deploy-pages@v4
